<!DOCTYPE html>
<html>
<head>
  <title>Pennybags</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container container-narrow">
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Property List</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <%= image_tag "pennybags_1.jpg", :class => "logo" %>
      <h3 class="muted">Property Manager</h3>
    </div>

    <hr>
    
    <%= yield %>

    <hr>

    <div class="footer">
      <p>&copy; Pennybags Property Manager 2013</p>
    </div>

  </div>

</body>
</html>
